<h1>StaticPages#dashboard</h1>
<p>Find me in app/views/static_pages/dashboard.html.erb</p>

<h2>Sample Line Chart</h2>
<div class="ct-chart ct-golden-section" id="chart1"></div>
<br>

<h2>Sample Bar Chart</h2>
<div class="ct-chart ct-golden-section" id="chart2"></div>

<script>
  // Initialize a Line chart in the container with the ID chart1
  new Chartist.Line('#chart1', {
    labels: [1, 2, 3, 4],
    series: [[100, 120, 180, 200]]
  });

  // Initialize a Line chart in the container with the ID chart2
  new Chartist.Bar('#chart2', {
    labels: [1, 2, 3, 4],
    series: [[5, 2, 8, 3]]
  });
</script>
